html, body {
    /* for navbar */
    height: 100%;
    margin: 0;
    padding: 0;
    /* for stoping scrolling */
    /* overflow: hidden; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(5, 9, 19);

    color:white;
    /* box-sizing: border-box; */
}
body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background:  rgb(192, 249, 223);
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;

  border-radius: 50px;
}
.main {
    height: 100%;
    width: 100%;
}
*::selection {
    background-color: #e892ca;
    color: #1ebcc1;
  }
  section{
    height: 80vh;
    display: flex;
    direction: column;
  }
.nav {
    /* without display:flex align-items: and justify-content:  won't work */
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid rgba(209, 203, 203, 0.199);
    padding: 0  2vw;
    /* position imp for z index for working*/
    position:fixed;
    z-index: 999;

}
#cursor {
    height: 10px;
    width: 10px;
    background-color: #7cd9e093;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    transition: all linear 0.1s;
    pointer-events: none;
  }
  #cursor-blur {
    height: 500px;
    width: 500px;
    background-color: rgba(30, 177, 193, 0.3);
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 11;
    transition: all linear 0.4s;
    pointer-events: none;
  }
.nav h2 {
    padding: 0 2vmax;
    font-size: 2.3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
.nav2 {
    gap: 8vw;
    display: flex;
    margin-right: 4vw;
    font-size: 1.9vw;
    align-items: center;
    justify-content: center

}
.nav2 h5 a{
    text-decoration: none;
    color: white;
}
.nav2 h5 a:hover{
    color:rgb(113, 155, 225)
}
.nav i{
    padding-top: 2.2vw;
    font-size: 2vw;
    font-weight: 600;
    display: none;
    
}
.content {
    height: calc(100% - 50px);
    width: 100%;
    position: relative;
    display: flex;



}
#close
{
    margin: 20px;
    float: right;
   
    
    transform: rotate(45deg);
    font-size: 10px;
    cursor: pointer;
}
.red-plus {
  color: red;
  font-size: 24px; /* Adjust the size as needed */
}
#menu li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
    margin: 5px 0px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
#menu
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}
#container
{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    
    height: 50%;
    backdrop-filter: blur(40px);
    text-align: center;
    transition: all 0.6s ease;
    z-index: 999;
}
#menu li a:hover
{
    background-color: #27c4ec;
    color: #ffffff;
}
/* whenever using % we are taking with resp to parent component */
.left{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
    padding: 5vw 4vw;
    position: relative;
    
}
.left h1{
    font-size: 4.2vw;
position:relative;
z-index: 1;
    
}
.left h1::before {
    content: "Creating Imagination";
    position: absolute;
    /* left: 0; */
    width: 100%;
    right:-5;
    top:-2px;
    -webkit-text-stroke: 2px rgba(87, 10, 211, 0.861);
    color: rgba(127, 17, 17, 0.662); /* Make the fill color transparent to only show the stroke */
    z-index: -1; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow to create contrast */
}

.left p {
    font-size: 2vw;
    font-weight: 500;
    margin-top: 2vw;
    margin-bottom: 4vw;
    width: 80%;

    display: flex;
    flex-wrap: wrap; /* Allow text to wrap */

}
.left button{

    display: flex;

    padding: 1vw 1vw;
    border-radius: 2px;
    font-size: 1.3vw;
    background-color: rgb(16, 212, 203);
}

#right{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
}
#f {
    height: 20%;
    width: 20%;
margin-top: 40px;
    opacity: 40%;
    
}

#b{
    height: 50%;
    width: 100%;
    /* object-fit: cover; */
    display: flex;

    justify-content: center;
    align-items:center;
    border-radius: 10px;
 
}


#r {
    height: 10vh;
    width: 20vw;
    margin-top: 2vmax;;
 
} 

  #page2 {
    /* min-height: 100vh; */
 
    width: 100%;
    z-index: 4;
    position: relative; /* Ensure relative positioning */
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute; /* Change to absolute positioning */
    bottom: 0; /* Position at the bottom */
    width: 100%; /* Full width */
    z-index: 4;
    cursor: default;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 20px;
    transition: all linear 0.3s;
    color: #000;
    -webkit-text-stroke: 2px #ffffff;
}

#scroller h4:hover {
    color: #95c11e;
    -webkit-text-stroke: 2px #95c11e;
}


#cards-container {
    /* background-color: red; */
    height: 90vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    /* position: relative; */
    z-index: 13;
    margin-bottom: 30vh;
   
  }
  .card {
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
  }
  #card1 {
    background-image: url(https://assets-global.website-files.com/64e08fe32b86aaaa42e3a381/6519a485d54435c35b5649dd_Flowzai%20Product%20Image17.png);
    
  }
  #card2 {
    background-image: url(https://i.ytimg.com/vi/mbSStC0GjoQ/maxresdefault.jpg);
  }
  #card3 {
    background-image: url(https://th.bing.com/th/id/OIP.OqEh7-fnsmxxVThYXJow4wAAAA?rs=1&pid=ImgDetMain);
  }
  .overlay {
    height: 100%;
    width: 100%;
    background:linear-gradient(to left,#95c11e,rgb(131, 228, 239));
    padding: 30px;
    padding-top: 60px;
    opacity: 0;
    transition: all ease 0.6s;
  }
  .overlay h4 {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;

    white-space: nowrap;

    font-weight: 800;
  }
  .overlay p {
    color: #000;
    font-size: 18px;
    display: flex;
    width: 70%;
justify-content: center;
align-items: start;
line-height: 5vh;

    padding: 20px;
  }
  .card:hover .overlay {
    opacity: 1;
  }
  .card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
  }
  #green-div {
    margin-top: 15%;
   height: 20vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    
    /* background-color: red; */
    /* background: linear-gradient(to left bottom, #119f3a, #ace022); */
  }
  #contact{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
  }
  #contact-box h4 {
    width: 100%;
    line-height: 50px;
    color: #e7dbdbee;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
    
  }
  #green-div img {
   
    height: 100%;
    object-fit: cover;
    width: 14%;
  }
  .query-form{
    margin-top: 0;
    position: absolute;
    display: flex;

    flex-direction: column;
  }
  #contact-box{
width:100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    margin: 40px;
    z-index: 14;
}
#contact-box input, 
#contact-box textarea{
    width: 50%;
    padding: 0.5rem;
    margin: 10px;
    border-radius: 9px;
    font-size: 1.1rem;
    margin-left: 22vmax;
 
} 

#contact-box form{
    width: 100%;
}
#contact-box button{
    flex:content;
    flex-direction: column;
    width:50%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
/* Modal container */
.modal {
   display: none;/* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
 top:0;
 left:0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.406); /* Fallback color */
  background-color: gba(0,0,0,0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color:  #f5fdfd;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
 color:#000;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.modal-content p {
  margin-bottom: 1rem;
}

.modal-content a,
.modal-content button {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.modal-content button {
  background-color: #dc3545;
}

.modal-content a:hover,
.modal-content button:hover {
  opacity: 0.8;
}
.footer{
  margin-top: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
.footer {

  width: 100%;
  background: linear-gradient(to left bottom, #3bd3ce 0%, #f9f9f8c9 80%);
  position: relative;
  display: flex;
  align-items: center;
 
  justify-content: space-between;
  

  
}

.info{
  height: 8vh;
  width:50%;
  overflow: hidden;
  /* background-color: #dc3545; */
  position: relative;
  gap: 4vw;
  display: flex;
  flex-direction: row;
  right:-29%;
}
.f4 h4 {
  display: flex;
  flex-direction: column;
  align-items: center;

margin-top: 0;
position: absolute;
}

.fimg img{

  height:4vh;
  position: absolute;
}
.icon{
  display: flex;
  height: 5vh;
  gap:4vw;
  z-index: 1;
}
.footer f4 {
  position: absolute;
  display: flex;
  
  flex-direction: column-reverse;


}
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
@media (max-width:600px) {
    nav{
        padding: 0 5vw;
        height:60vw;
        
    }
    .nav i{
        display: block;
        font-size: 8vw;
        position: absolute;
        z-index: +2px;
        margin-right:32px;
        cursor:pointer;
    }
    .nav h2 {
        padding: 0 2vmax;
        font-size: 6vw;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .nav2 h5{
        display: none;
    
    }
    .content{
        height: calc(100% - 60vw);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height:100%;
    }
    .left h1{
        font-size: 10vw;
        
    }
    .left p{
        font-size: 6vw;
        
    }
    .left button{
        font-size: 3vw;
        margin-top: 4vw;
        margin-bottom: 8vw;
        font-weight: 500;
        
    }
    .right{
        display: flex;
        width:100%;
        height:50%;
    }
#cards-container{
    display: flex;
    flex-direction: column;
    width: 100 vmax;
    height:80 vmax;
    scale: 1.1;
}
}